# Source tag requirements:
# -r https://raw.githubusercontent.com/nasa/fprime/refs/tags/v4.3.0/requirements.txt

yamcs-client==1.12.1
fprime-xtce @ git+https://github.com/FarkasJoseph/fprime-xtce.git@feature/binary-annotation-combined
fprime-yamcs==0.1.5

# Local requirements:
-r ./lib/fprime/requirements.txt

